.loader {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  display: inline-block;
  white-space: nowrap;
}

.loaderText {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(to right, #159957, #155799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

@keyframes blink {
  0% {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  100% {
    border-right-color: transparent;
  }
}

.blink {
  animation: blink 0.5s steps(10) infinite;
}