@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #333366;
    --secondary: #097fa5;
    --background: #ededed;
    --background-secondary: #c8dde3;
    --button: #097fa5;
    --button-text: #fff;
    --text-secondary: #3c3c3c;
    --dropdown: #e0f4ff;
    --dropdown-hover: #b3e5ff;
    --button-secondary: #e7e7e7;
    --selected: #9ec6ff;
    --logo-shadow: #053949;
    --logo-body: #00d8fe;
    --span-bg: linear-gradient(to right, #4e4e9e, #097fa5, #3e87ed);
  }
  .dark {
    --primary: #d6deff;
    --secondary: #0ba6d1;
    --background: #121212;
    --background-secondary: #1b1b1b;
    --button: #097fa5;
    --button-text: #fff;
    --text-secondary: #bbbbbb;
    --dropdown: #2d2d2d;
    --dropdown-hover: #454545;
    --button-secondary: #1d1d1d;
    --selected: #324e70;
    --logo-shadow: #0a2e36;
    --logo-body: #097fa5;
    --span-bg: linear-gradient(to right, #8c00ff, #0fb4e1, #a1d930, #ae0000);
  }
  .twitter {
    --primary: #1da1f2; /* Twitter Blue */
    --secondary: #14171a; /* Dark Gray */
    --background: #ffffff; /* White */
    --background-secondary: #f5f8fa; /* Light Gray */
    --button: #1da1f2; /* Twitter Blue for buttons */
    --button-text: #ffffff; /* White text on buttons */
    --text-secondary: #262626; /* Dark Gray for secondary text */
    --dropdown: #ffffff; /* White for dropdowns */
    --dropdown-hover: #f5f8fa; /* Light Gray for dropdown hover */
    --button-secondary: #f5f8fa; /* Light Gray for secondary buttons */
    --selected: #b2e2ff; /* Twitter Blue for selected items */
    --logo-shadow: #000000; /* Black for logo shadow */
    --logo-body: #1da1f2; /* Twitter Blue for logo body */
    --span-bg: linear-gradient(to right, #1da1f2, #1da1f2, #1da1f2);
  }
  .sunset {
    --primary: #ff6b6b;
    --secondary: #ff9966;
    --background: #f9f9f9;
    --background-secondary: #e9e9e9;
    --button: #ff6b6b;
    --button-text: #fff;
    --text-secondary: #333333;
    --dropdown: #f9f9f9;
    --dropdown-hover: #e9e9e9;
    --button-secondary: #e9e9e9;
    --selected: #ff9966;
    --logo-shadow: #333333;
    --logo-body: #ff6b6b;
    --span-bg: linear-gradient(to right, #ff6b6b, #ff9966, #ffcc66);
  }
  .matrix {
    --primary: #009100; /* Bright green */
    --secondary: #009100; /* Cyan */
    --background: #000000; /* Black */
    --background-secondary: #111111; /* Slightly lighter black */
    --button: #009100; /* Bright green for buttons */
    --button-text: #000000; /* Black text on buttons */
    --text-secondary: #888888; /* Gray for secondary text */
    --dropdown: #000000; /* Black for dropdowns */
    --dropdown-hover: #111111; /* Slightly lighter black for dropdown hover */
    --button-secondary: #111111; /* Slightly lighter black for secondary buttons */
    --selected: #00ffff; /* Cyan for selected items */
    --logo-shadow: #000000; /* Black for logo shadow */
    --logo-body: #009100; /* Bright green for logo body */
    --span-bg: linear-gradient(
      to right,
      #009100,
      #00ffff,
      #0000ff
    ); /* Gradient from bright green to cyan to blue */
  }
  .instagram {
    --primary: #cc3f7e; /* Pink */
    --secondary: #fcb045; /* Orange */
    --background: #ffffff; /* White */
    --background-secondary: #f1f1f1; /* Light Gray */
    --button: #cc3f7e; /* Pink for buttons */
    --button-text: #ffffff; /* White text on buttons */
    --text-secondary: #333333; /* Dark Gray for secondary text */
    --dropdown: #ffffff; /* White for dropdowns */
    --dropdown-hover: #f1f1f1; /* Light Gray for dropdown hover */
    --button-secondary: #f1f1f1; /* Light Gray for secondary buttons */
    --selected: #fcb045; /* Orange for selected items */
    --logo-shadow: #000000; /* Black for logo shadow */
    --logo-body: #cc3f7e; /* Pink for logo body */
    --span-bg: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  }
  .facebook {
    --primary: #3b5998; /* Blue */
    --secondary: #4267b2; /* Darker Blue */
    --background: #f0f2f5; /* Light Gray */
    --background-secondary: #e9eaef; /* Slightly Darker Gray */
    --button: #3b5998; /* Blue for buttons */
    --button-text: #ffffff; /* White text on buttons */
    --text-secondary: #333333; /* Dark Gray for secondary text */
    --dropdown: #f0f2f5; /* Light Gray for dropdowns */
    --dropdown-hover: #e9eaef; /* Slightly Darker Gray for dropdown hover */
    --button-secondary: #e9eaef; /* Slightly Darker Gray for secondary buttons */
    --selected: #4267b2; /* Darker Blue for selected items */
    --logo-shadow: #000000; /* Black for logo shadow */
    --logo-body: #3b5998; /* Blue for logo body */
    --span-bg: linear-gradient(to right, #3b5998, #4267b2, #5578c2);
  }
  .discord {
    --primary: #7289da; /* Discord Blue */
    --secondary: #7289da; /* Discord Blue */
    --background: #36393f; /* Dark Gray */
    --background-secondary: #2f3136; /* Slightly Darker Gray */
    --button: #7289da; /* Discord Blue for buttons */
    --button-text: #ffffff; /* White text on buttons */
    --text-secondary: #dcddde; /* Light Gray for secondary text */
    --dropdown: #36393f; /* Dark Gray for dropdowns */
    --dropdown-hover: #2f3136; /* Slightly Darker Gray for dropdown hover */
    --button-secondary: #2f3136; /* Slightly Darker Gray for secondary buttons */
    --selected: #7289da; /* Discord Blue for selected items */
    --logo-shadow: #000000; /* Black for logo shadow */
    --logo-body: #7289da; /* Discord Blue for logo body */
    --span-bg: linear-gradient(to right, #7289da, #7289da, #7289da);
  }
  .netflix {
    --primary: #ff0000; /* Red */
    --secondary: #ffffff; /* White */
    --background: #000000; /* Black */
    --background-secondary: #121212; /* Slightly lighter black */
    --button: #ff0000; /* Red for buttons */
    --button-text: #ffffff; /* White text on buttons */
    --text-secondary: #b3b3b3; /* Light Gray for secondary text */
    --dropdown: #000000; /* Black for dropdowns */
    --dropdown-hover: #121212; /* Slightly lighter black for dropdown hover */
    --button-secondary: #121212; /* Slightly lighter black for secondary buttons */
    --selected: #400202; /* Red for selected items */
    --logo-shadow: #000000; /* Black for logo shadow */
    --logo-body: #ff0000; /* Red for logo body */
    --span-bg: linear-gradient(to right, #ff0000, #ff0000, #ff0000);
  }
  .reddit {
    --primary: #ff4500; /* Orange Red */
    --secondary: #ff6347; /* Tomato Red */
    --background: #ffffff; /* White */
    --background-secondary: #f5f5f5; /* Light Gray */
    --button: #ff4500; /* Orange Red for buttons */
    --button-text: #ffffff; /* White text on buttons */
    --text-secondary: #333333; /* Dark Gray for secondary text */
    --dropdown: #ffffff; /* White for dropdowns */
    --dropdown-hover: #f5f5f5; /* Light Gray for dropdown hover */
    --button-secondary: #f5f5f5; /* Light Gray for secondary buttons */
    --selected: #ff6347; /* Tomato Red for selected items */
    --logo-shadow: #000000; /* Black for logo shadow */
    --logo-body: #ff4500; /* Orange Red for logo body */
    --span-bg: linear-gradient(to right, #ff4500, #ff6347, #ff4500);
  }
}

@layer base {
  *:lang(ar) {
    font-family: var(--rubik) !important;
  }
  *:lang(fa) {
    font-family: var(--rubik) !important;
  }
  body {
    @apply bg-background text-primary;
  }
}
