@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #333366;
    --secondary: #097fa5;
    --background: #ededed;
    --background-secondary: #c8dde3;
    --button: #097fa5;
    --button-text: #fff;
    --text-secondary: #3c3c3c;
    --dropdown: #e0f4ff;
    --dropdown-hover: #b3e5ff;
    --button-secondary: #e7e7e7;
    --selected: #9ec6ff;
    --logo-shadow: #053949;
    --logo-body: #00d8fe;
    --span-bg: linear-gradient(to right, #4e4e9e, #097fa5, #3e87ed);
  }
  .dark {
    --primary: #d6deff;
    --secondary: #0ba6d1;
    --background: #121212;
    --background-secondary: #1b1b1b;
    --button: #097fa5;
    --button-text: #fff;
    --text-secondary: #bbbbbb;
    --dropdown: #2d2d2d;
    --dropdown-hover: #454545;
    --button-secondary: #1d1d1d;
    --selected: #324e70;
    --logo-shadow: #0a2e36;
    --logo-body: #097fa5;
    --span-bg: linear-gradient(to right, #8c00ff, #0fb4e1, #a1d930, #ae0000);
  }
  .custom {
  }
}

@layer base {
  body {
    @apply bg-background text-primary;
  }
}
